@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --primary-color:#254d4d;
    --text-dark:#171717;
    --text-light:#737373;
    --extra-light:#f4f6f5;
    --white:#ffffff;
    --max-width:1200px;
    --header-font:"Roboto Slab", serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--primary-color);
}

.section_description{
    font-size: 1.1rem;
    color: var(--text-light);
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 2rem;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
}

img{
    display: flex;
    width: 20rem;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

/* -------------------- Navbar -------------------- */

 nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    margin-inline: auto;
    z-index: 100;
}

.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo .logo{
    color: var(--white);
}

.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_search {
    padding: 1rem;
    display: none;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--white);
}

.nav_search input {
    width: 250px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--text-light);
}

#search{
    font-size: 2rem;
}
.nav_links{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav_links.open{
    transform: translateY(0);
}
.nav_links a{
    color: var(--white);
    font-weight: 500;
}

.nav_links a:hover{
    color:var(--text-dark);
} 

/*----------------------  header ---------------------------- */
.header_container{
    display: grid;
    overflow: hidden;
}

.header_image{
    grid-area: 1/1/2/2;
}

.header_image img{
    max-width: var(--max-width);
    margin-left: auto;
}

.header_content{
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
}

.header_content>div{
    max-width: 500px;
    padding: 4rem;
    background-color: rgba(255,255,255,0.5);
}

.header_content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: #171717;
}

.header_content p{
    font-size: 1.2rem;
    color: var(--text-light);
}

.header_content:nth-child(2){
    position: absolute;
    color: var(--text-light);
}

/*---------------------- section ------------------ */

.deals_container{
    display: grid;
    gap: 2rem;
}

.deals_cart span{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.deals_cart h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.deals_cart p{
    color: var(--text-light);
}

/*------------------- About section ------------------- */

.about_header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about_header .section_description{
    max-width: 600px;
}

.about_btn{
    width: fit-content;
    padding: 0.75rem 1.5rem;
    outline:none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    white-space: nowrap;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.about_content{
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.about_grid{
    display: grid;
    gap: 2rem;
}

.about_image{
    overflow: hidden;
}

.about_cart h3{
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.about_cart h4{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.about_cart p{
    color: var(--text-light);
}

/*-------------------- Main section ------------------------- */

.product_grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}

.product_card{
    position: relative;
    isolation: isolate;
    padding: 2rem;
}

.product_card::before{
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: var(--extra-light);
    z-index: -1;
    transition: 0.3s;
}

.product_card:hover::before{
    height: 100%;
}

.product_card h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
}

.product_card p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: var(--text-light);
}

.product_card img{
    max-width: 275px;
    margin-inline:auto ;
}

/*-------------------- image section ------------------------ */

.client_content{
    background-color: var(--extra-light);
    padding: 4rem 1rem;
    border-radius: 1rem;
    max-width: 100%;
    margin: auto;
}

.section_header{
    font-size: 3.25rem;
    text-align: center;
}

.services{
    display: grid;
    align-items: center;
    justify-content: center;
}

.client1{
    margin: 10px;
    border: 2px solid;
    border-radius: 10%;
}

.active{
    display: none;
}
.client1 img{
    border-radius: 10%;
    transition: 0.3s;
}

.client1 img:hover{
    opacity: 0.5;
}

/*---------------- Footer section -------------------- */

.footer{
    background-color: var(--primary-color);
}

.footer_container{
    display: grid;
    gap: 4rem 2rem;
}

.footer_logo{
    margin-bottom: 1rem;
}

.footer_logo .logo{
    color: var(--white);
}

.footer_col p{
    margin-bottom: 2rem;
    color: var(--extra-light);
    opacity: 0.8;
}

.footer_social{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer_social a{
    font-size: 1.5rem;
    color: var(--extra-light);
}

.footer_social a:hover{
    opacity: 0.5;
}

.footer_col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}

.footer_links{
    display: grid;
    gap: 1rem;
}

.footer_links a{
    color: var(--extra-light);
    opacity: 0.6;
}

.footer_links a:hover{
    opacity: 1;
}

.footer_bar{
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--extra-light);
    opacity: 0.8;
    text-align: center;
}

/*--------------------- Media query ----------------------- */

@media (width > 540px){
    .deals_container{
        grid-template-columns: repeat(2,1fr);
    }
    .about_grid{
        grid-template-columns: repeat(2,1fr);
    }
    .product_grid{
        grid-template-columns: repeat(2,1fr);
    }
    .footer_container{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (width > 768px){
    nav{
        position: static;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav_header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav_menu_btn{
        display: none;
    }

    .nav_logo .logo{
        color: var(--primary-color);
    }

    .nav_links{
        position: static;
        padding: 0;
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        background-color: transparent;
        transform: none;
    }

    .nav_links a{
        color: var(--text-dark);
    }

    .nav_links a:hover{
        color: var(--primary-color);
    }

    .nav_search{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
    }

    .nav_search input{
        padding: 5px;
        outline: none;
        border: none;
        width: 0;
        font-size: 1rem;
        color: var(--text-dark);
        border-bottom: 1px solid var(--text-light);
        transition: 0.3s;
    }

    .nav_search.open input{
        width: 100%;
        max-width: 15rem;
    }

    .nav_search span{
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--text-dark);
        cursor: pointer;
    }

    .header_container{
        padding-top: 0;
    }

    .deals_container{
        grid-template-columns: repeat(3,1fr);
    }

    .deals_cart:nth-child(1){
        grid-column: 1/4;
    }

    .about_header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .about_content{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

    .about_image{
        grid-area: 1/2/2/3;
    }

    .product_grid{
        grid-template-columns: repeat(3,1fr);
    }

   .footer_container{
    grid-template-columns: repeat(4,1fr);
   }
}

@media (width >1024px){
    .deals_container{
        grid-template-columns: repeat(4,1fr);
    }

    .deals_cart:nth-child(1){
        grid-column: unset;
    }

    .about_grid{
        gap: 4rem 2rem;
    }
}