@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --primary-color:#254d4d;
    --text-dark:#171717;
    --text-light:#737373;
    --extra-light:#f4f6f5;
    --white:#ffffff;
    --max-width:1200px;
    --header-font:"Roboto Slab", serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--primary-color);
}

.section_description{
    font-size: 1.1rem;
    color: var(--text-light);
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 2rem;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
}

img{
    display: flex;
    width: 20rem;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    margin-inline: auto;
    z-index: 100;
}

.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo .logo{
    color: var(--white);
}

.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_search {
    padding: 1rem;
    display: none;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--white);
}

.nav_search input {
    width: 250px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--text-light);
}

#search{
    font-size: 2rem;
}
.nav_links{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav_links.open{
    transform: translateY(0);
}
.nav_links a{
    color: var(--text-dark);
    font-weight: 500;
}

.nav_links a:hover{
    color:var(--white);
}

/*----------------------  header ---------------------------- */
.header_container{
    display: grid;
    overflow: hidden;
}

.header_image{
    grid-area: 1/1/2/2;
}

.header_image img{
    max-width: var(--max-width);
    margin-left: auto;
}

.header_content{
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
}

.header_content>div{
    max-width: 500px;
    padding: 4rem;
    background-color: rgba(255,255,255,0.5);
}

.header_content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: #171717;
}

.header_content p{
    font-size: 1.2rem;
    color: var(--text-light);
}

.header_content:nth-child(2){
    position: absolute;
    color: var(--text-light);
}

/*---------------------- section ------------------ */

.deals_container{
    display: grid;
    gap: 2rem;
}

.deals_cart span{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.deals_cart h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.deals_cart p{
    color: var(--text-light);
}

/*------------------- About section ------------------- */

.about_header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about_header .section_description{
    max-width: 600px;
}

.about_btn{
    width: fit-content;
    padding: 0.75rem 1.5rem;
    outline:none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    white-space: nowrap;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.about_content{
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.about_grid{
    display: grid;
    gap: 2rem;
}

.about_image{
    overflow: hidden;
}

.about_cart h3{
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.about_cart h4{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.about_cart p{
    color: var(--text-light);
}

/*-------------------- Main section ------------------------- */

.product_grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}

.product_card{
    position: relative;
    isolation: isolate;
    padding: 2rem;
}

.product_card::before{
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: var(--extra-light);
    z-index: -1;
    transition: 0.3s;
}

.product_card:hover::before{
    height: 100%;
}

.product_card h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
}

.product_card p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: var(--text-light);
}

.product_card img{
    max-width: 275px;
    margin-inline:auto ;
}

/*-------------------- image section ------------------------ */

.client_content{
    background-color: var(--extra-light);
    padding: 4rem 1rem;
    border-radius: 1rem;
    max-width: 100%;
    margin: auto;
}

.section_header{
    font-size: 3.25rem;
    text-align: center;
}

.slider{
    position: absolute;
    overflow: hidden;
}

.slider_wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* .slider_slide{
    min-width: 100%;
    box-sizing: border-box;
} */

.client_card{
    display: grid;
    gap: 2rem;
    text-align: center;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
} 

.client_card img{
    max-width: 250px;
    margin: auto;
    padding: 2rem;
}

.client_card p{
    font-size: 1.2rem;
    color: var(--text-light);
    font-style: italic;
}

.client_card h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-light);   
}

.slider_dots{
    display: flex;
    justify-content: center;
    color: var(--text-light);
    margin-top: 1rem;
}

.slider_dot{
    background-color: #c11d1d;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.slider_dot .active{
    background-color: #000000;
}

/*---------------- Footer section -------------------- */

.footer{
    background-color: var(--primary-color);
}

.footer_container{
    display: grid;
    gap: 4rem 2rem;
}

.footer_logo{
    margin-bottom: 1rem;
}

.footer_logo .logo{
    color: var(--white);
}

.footer_col p{
    margin-bottom: 2rem;
    color: var(--extra-light);
    opacity: 0.8;
}

.footer_social{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer_social a{
    font-size: 1.5rem;
    color: var(--extra-light);
}

.footer_social a:hover{
    opacity: 0.5;
}

.footer_col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}

.footer_links{
    display: grid;
    gap: 1rem;
}

.footer_links a{
    color: var(--extra-light);
    opacity: 0.6;
}

.footer_links a:hover{
    opacity: 1;
}

.footer_bar{
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--extra-light);
    opacity: 0.8;
    text-align: center;
}