@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #eeebeb;
    --text-dark: #171717;
    --text-light: #737373;
    --extra-light: #f4f6f5;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Roboto Slab", serif;
}

.box {
    background-color: var(--primary-color);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10%;
    line-height: 3.5;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 1rem 3rem 1rem rgba(0,23,71,0.15);
}

.heading {
    font-size: 2rem;
    font-family: var(--header-font);
    color: var(--text-dark);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--text-light);
    border-radius: 5px;
}

.btn {
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    font-size: 14px;
    transition: 0.3s;
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
button:hover {
    background-color: var(--text-dark);
    color: white;
}


#unitSelect {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--text-light);
    border-radius: 10px;
}