@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/*------------------------------------ Portfolio Styles ----------------------------*/

:root {
    --primary-color: #030a16;
    --second-color: #323946;
    --disabled: #fff3;
    --green: #7cf03d;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizer Serif", serif;
}

body,
html {
    background: var(--primary-color);
    color: var(--white);
    min-height: 100dvh;
    overflow-x: hidden;
    transition: all 03s ease;
}

body.no-scroll {
    height: 100dvh;
    overflow: hidden;
}

.main-container {
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;
}

/*------------------------------ header style ----------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 1rem 0;
}

.brand-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--white);
}

.brand-info h2 {
    font-size: 1.7rem;
    font-weight: 800;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
}

#overlay {
    display: none;
    opacity: 0;
    pointer-events: auto;
    z-index: 1000;
}

#menu-toggle:checked~#overlay {
    display: block;
    position: fixed;
    inset: 0;
    top: 7rem;
    height: 100dvh;
    background: var(--primary-color);
    opacity: 1;
    pointer-events: none;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateX(150%);
    transition: all 0.4s ease;
}

#menu-toggle:checked~nav {
    transform: translateX(0%);
}

nav a {
    text-align: center;
    padding: 0.8rem;
    font-size: 1.4rem;
    border: 5px solid var(--second-color);
    border-radius: 10px;
    text-decoration: none;
    color: var(--white);
    opacity: 0;
    transform: translateX(150%);
    transition: all 0.4s ease;
}

#menu-toggle:checked~nav a {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: calc(var(--i)*0.2s);
}

.navlink.active {
    color: var(--green);
}

.content {
    display: none;
}

.content.active {
    display: block;
}

/* Media query */

@media screen and (width >=1024px) {
    .main-container {
        max-width: 950px;
    }

    header {
        position: static;
    }

    .brand-info {
        gap: 20px;
    }

    .brand-info img {
        width: 90px;
        height: 90px;
    }

    .brand-info h2 {
        font-size: 2.5rem;
    }

    #menu-toggle {
        pointer-events: none;
    }

    .menu-icon {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        position: static;
        transform: translateX(0%);
    }

    nav a {
        padding: 0;
        font-size: 1.5rem;
        border: none;
        opacity: 1;
        transform: translateX(0%);
    }

    nav a:hover {
        color: var(--green);
    }
}

@media screen and (width >=1250px) {
    .main-container {
        max-width: 1200px;
    }

    .brand-info {
        gap: 35px;
    }

    .brand-info img {
        width: 100px;
        height: 100px;
    }

    .brand-info h2 {
        font-size: 3rem;
    }

    nav {
        gap: 2.5rem;
    }

    nav a {
        font-size: 2rem;
    }
}

/* --------------- home ------------------- */
#home.content.active {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    width: 90%;
    max-width: 700px;
    margin: 2rem auto;
}

.image-container {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.image-container img {
    width: 390px;
    height: 390px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.details h2 {
    font-size: 2.5rem;
}

.details h2 span {
    background: linear-gradient(to right, var(--green), var(--white));
    padding-bottom: 2px;
    border-bottom: 5px solid var(--green);
    color: transparent;
    -webkit-background-clip: text;
}

.details p {
    font-size: 1.3rem;
    text-align: justify;
}

.details h3 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.details h3 span {
    color: var(--green);
    display: inline-block;
    min-width: 130px;
    overflow: hidden;
    white-space: nowrap;
}

.details h3 span::after {
    content: "|";
    margin-left: 5px;
    animation: blink 0.7s steps(1) infinite;
}

.details h3 {
    font-size: 2.8rem;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom button {
    width: 12rem;
    padding: 0.8rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 50px;
    background: var(--green);
    cursor: pointer;
    border: none;
    transition: all ease 0.3s;
}

.bottom button:hover {
    box-shadow: 3px 3px 3px var(--green);
    box-shadow: -3px 3px 3px var(--green);
    box-shadow: 3px -3px 3px var(--green);
    box-shadow: -3px -3px 3px var(--green);
}

.social-icon {
    display: flex;
    gap: 20px;
    font-size: 2.5rem;
}

.social-icon a {
    color: var(--white);
    transition: all ease 0.3s;
}

.social-icon a:hover {
    color: var(--green);
    scale: 105%;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media screen and (width >=1024px) {
    #home.content.active {
        margin: 3rem auto;
    }

    .image-container {
        width: 400px;
        height: 400px;
    }

    .details {
        gap: 30px;
    }

    .details h2 {
        font-size: 5rem;
    }

    .details p {
        font-size: 1.6rem;
    }

    .details h3 {
        font-size: 2.5rem;
    }

    .social-icon {
        font-size: 3rem;
    }

    .bottom {
        flex-direction: row;
        gap: 20px;
    }

    .bottom button {
        width: 12rem;
        padding: 0.8rem 0;
        font-size: 1.3rem;
        font-weight: 200;
    }

}

@media screen and (width >=768px) {
    #home.content.active {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        gap: 3.5rem;
        width: 100%;
        max-width: 100%;
    }

    .details h2 {
        font-size: 3rem;
    }
}

/* ------------- services ---------------- */
#services.content.active {
    width: 100%;
    margin: 2rem auto;
}

#services h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
}

#services h2 span {
    color: var(--green);
}

.service-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    place-items: center;
    padding: 1rem;
}

.box {
    background: var(--second-color);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    max-width: 450px;
    border: 3px solid transparent;
    transition: all linear 0.3;
}

.box:hover {
    border: 3px solid var(--green);
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--green),
        -5px 5px 5px var(--green), 5px -5px 5px var(--green),
        -5px -5px 5px var(--green);
}

.head-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head-icons span{
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background: var(--white);
    color: var(--primary-color);
    transition: all linear 0.3s;
}

.head-icons span:hover{
    transform: rotate(-45deg);
    background: var(--green);
}

.head-icons i{
    font-size: 2rem;
    font-weight: 900;
}

.head-icons span i{
    font-size: 1.6rem;
    font-weight: 900;
}

.box h3{
    font-size: 1.7rem;
    font-weight: 800;
    text-align: center;
    color: var(--green);
}

#spacer{
    flex-grow: 1;
}

.box p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
}
@media screen and (width >=1024px) {
   .service-list {
    grid-template-columns: repeat(3,1fr);
   }

   .box h3{
    font-size: 1.8rem;
   }

   .box p{
    font-size: 1.2rem;
   }
}

@media screen and (width >=768px) {
    #services h2{
        font-size: 4rem;
    }
    
    .service-list {
        grid-template-columns: repeat(2,1fr);
    }

    .box h3{
        text-align: left;
    }
}

/*------------------ about me section -------------------------- */

#about.content.active{
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 450px;
    margin: 0 auto;
}

.sidebar h3{
    font-size: 2rem;
}

.sidebar p{
    font-size: 1.1rem;
    text-align: justify;
}

.sidebar .tabs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar .tabs span{
    border: 2px solid transparent;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 5px;
    background: var(--second-color);
    transition: all linear 0.3s;
}

.sidebar .tabs span:hover{
    border-color: var(--green);
    cursor: pointer;
    color: var(--green);
}

.tab.active{
    border: 2px solid var(--green)!important;
    color: var(--green);
}

.tab-content.active{
    display: inline-flex;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside h2 span{
    color: var(--green);
}

aside h2{
    font-size: 2rem;
}

aside h2 span{
    color: var(--green);
}

.experience-list , .education-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    overflow-y: auto;
    max-height: 300px;
    padding: 1rem;
}

.experience-list::-webkit-scrollbar,
.education-list::-webkit-scrollbar{
    width: 5px;
}

.experience-list::-webkit-scrollbar-thumb,
.education-list::-webkit-scrollbar-thumb{
    background: var(--green);
    border-radius: 10px;
}

.experience-box{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border: 1rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background: var(--second-color);
    transition: all linear 0.3s;
}

.experience-box:hover{
    border-color: var(--green);
    box-shadow: 5px 5px 5px var(--green)
    -5px 5px 5px var(--green),
    5px -5px 5px var(--green),
    -5px -5px 5px var(--green);
}

.experience-box h4{
    font-size: 1.4rem;
}

.experience-box h3{
    font-size: 1.3rem;
    color: var(--green);
}

.experience-box p{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-name{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.company-name span{
    border: 6px solid var(--green);
    border-radius: 50%;
}

.company-name p{
    font-size: 1rem;
}

@media screen and (width >=768) {
    #about.content.active{
        grid-template-columns: repeat(7,1fr);
        gap: 3rem;
    }

    .sidebar{
        grid-column: span 3;
    }

    .sidebar .tabs{
        gap: 1.5rem;
    }

    .tab-content.active{
        max-width: 100%;
        margin: 0;
        grid-column: span 4;
    }

    aside p{
        font-size: 1.3rem;
    }

    .experience-box h3{
        font-size: 1.5rem;
    }

    .company-name p{
        font-size: 1.2rem;
    }
}

@media screen and (width >=1024px) {
    #about.content.active{
        gap: 5rem;
    }

    .experience-box h3{
        font-size: 1.8rem;
    }
}